<div class="contenu_interne">
    <form method="post" >
    <h1>Administration</h1>
    <label>Login :</label>
    <input name="log">
    <label>Mot de passe</label>
    <input name="mdp">
</form>
</div>