<div class="contenu_interne">
    <h3>Ajouter VIPSs</h3>
    <form action="/VIPS/ajouter" >
        <label>Nom* :</label>
        <input name="nom">
        <label>Prenom* :</label>
        <input name="prenom">
        <label>Sexe :</label>
        <select>
            <option value="M">Masculin</option>
            <option value="F">Feminin</option>
        </select>
        <label>Date de naissance :</label>
        <input name="date" type="date">
        <label>Nationaité</label>
        <select>

        </select>
        <label>Commentaire :</label>
        <input type="">
        <label>Selectionner l'image :</label>
        <input type="image">
        <input type="submit" value="envoyer">
    </form>
</div>
